.form-add-books {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.text-area-label-add-books {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
    width: 100%;
}

.text-area-add-books {
    border: 2px solid var(--color-lavender);
    border-radius: 5px;
    position: relative;
    heigth: 120px !important;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
}

