.article-box-current {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
}

.span-box-current {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    margin: 100px 0 0 100px;
    padding: 15px 0 15px 100px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #E8E9ED;

    border: solid red 1px;
}